/*
Theme Name:     Kallyas Child Theme
Theme URI:      http://kallyas.net/demo/
Description:    Child theme for the Kallyas theme
Author:         Hogash
Author URI:     http://themeforest.net/user/hogash
Template:       kallyas
Version:        4.0.0
Tags: dark, light, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
Text Domain:  zn_framework
*/

.sh-component.topnav.navRight.topnav--log.topnav-no-sc {
  display: none;
}

.znColumnElement-innerContent .row.product-page.clearfix .product_meta,
.znColumnElement-innerContent .row.product-page.clearfix .price:not(:first-child) {
  display: none;
}

.woocommerce-product-details__short-description {
  text-align: justify;
  font-size: 17px;
}

.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab #review_form_wrapper,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab .woocommerce-Reviews-title,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab .comment_container .avatar.photo,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab .comment_container .meta {
  display: none;
}

.woocommerce ul.products li.product .product-list-item.prod-layout-classic .price {
  display: none;
}

.widget.zn-sidebar-widget.woocommerce.widget_top_rated_products .woocommerce-Price-amount.amount {
  display: none;
}

.woocommerce.widget ul.product_list_widget li a span.product-title {
  word-wrap: break-word;
}

p {
  text-align: justify !important;
  font-size: 17px !important;
}

.woocommerce-noreviews {
  display: none;
}

.reviews_tab {
  display: none !important;
}

@media screen and (max-width:767px) {
    .separator.site-header-separator.visible-xs:first-child {
    display: none !important;
  }
  .fxb-row.site-header-row.site-header-top  {
      display: none !important;
  }
}

.woocommerce-form-coupon-toggle {
  display: none
}